<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
       </button>
       <a href="/" class="navbar-brand">Australian Sprit !</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/sydney">Sydney</a></li>
          <li><a href="/perth">Perth</a></li>
          <li><a href="/melbourne">Melbourne</a></li>
          <li><a href="/adelaide">Adelaide</a></li>
          <li><a href="/brisbane">Brisbane</a></li>
        </ul>
    </div>
 </div>
</div>
